.element {
    width: 140vmax;
    height: 140vmax;
    position: absolute;
    left: -70vmax;
    top: -70vmax;
    transform-origin: center;
    background-size: cover;
    image-rendering: pixelated;
}