.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.default {
    width: 0;
    height: 0;
    position: absolute;
    left: 50vw;
    top: 50vh;
}