@font-face {
    font-family: "Hobo";
    src: url("/fonts/hobo.ttf");
}

body {
    margin: 0;
}

#content {
    position: relative;
    z-index: 2;
}

button {
    font-size: inherit;
    border: 16px solid transparent;
    border-image-source: url("/images/button.png");
    border-image-slice: 4 fill;
    border-image-width: 16px;
    image-rendering: pixelated;
    background-color: transparent;
    font-family: "Hobo";
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;

    &:hover { border-image-source: url("/images/button-hover.png"); }
    &:active { border-image-source: url("/images/button-active.png"); }
}