.title {
    width: 80vw;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    font-family: "Hobo";

    color: #fff;

    font-size: min(32px, 5vw);

    video {
        width: 80vw;
        max-width: 640px;
        aspect-ratio: 16 / 9;
        image-rendering: pixelated;
        border: 16px solid transparent;
        border-image-source: url("/images/window.png");
        border-image-slice: 4 fill;
        border-image-width: 16px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5em;
    }

    .logo {
        max-width: 840px;
        width: 80vw;
        image-rendering: pixelated;
    }

    .play {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        flex-direction: column;
    }
}